

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    text-decoration: none;
    font-family: 'Akaya Kanadaka', 'cursive' ;
   
}

.navbar-brand
{

    color:white;    
}

#navbar
{
 z-index: 300;
 overflow: auto;
 position: fixed;
 width: 100%;




}

.navBgColor
{

background-color:rgb(211, 63, 63);

}


.nav-list-items, nav-item, navbar-nav
{
     color:white;
     text-decoration: none;
     margin-right: 1rem;
     font-size: 120%;
      display: inline-block;
     
    
}

ul li
{

    display:inline-block;
    text-decoration: none; 

}

#adminText
{
padding-right: 45%;
color:white;

}

.dropdown-toggle{
color:white;
text-decoration: none;
display: block;
overflow:visible;
z-index: 2;
position: inherit;
   

}


.container{
    width:auto;
    height:auto;
    padding: 20px;
    margin-top:5%;
    margin-left: 2%;
    overflow: auto;
    box-shadow: 2px 2px 2px grey;
    z-index:200;
    position:sticky;
  
  
}

.header
{
   background-color: rgb(231, 239, 250); 
   height: 8%;
   padding: 2px 0 0 8px;
   font-size: 25px;
margin: auto;
}

.inner-container
{

    width:auto;
    height:auto;
    border:1px solid rgb(175, 172, 172);
    /* margin-top: 0.5%; */
    margin-left: 0.5%; 
    background-color: rgb(231, 239, 250); 
    overflow: auto;

} 

.tableHeading{


    padding-right:100px;
    padding-left: 40px; 
}



