@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    text-decoration: none;
    font-family: 'Akaya Kanadaka', 'cursive' ;
   
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}


/* .navbar-brand
{

    color:white;    
} */

#navbar
{
    z-index: 300;
   
    position: fixed;
    width: 100vw;
    top: 0;
}

.nav-item
{
     color:white;
     text-decoration: none;
     
}


.float-container{

    height: 120vh;
    padding: 20px;
    background-color: #9A616D;
    overflow:auto;
    z-index: 200;
    position: sticky;

} 

.inner-container{
    
    margin-top:2% ;
    background-color:white;
    height:75%;
    border-radius: 20px;   
    overflow:auto;
    z-index:100;
    position:sticky;
} 


 .main-text-Info{

    color:black;
    font-size: 2.5rem;
    text-decoration: underline;
    padding-top: 1%;
} 

.theLabels
{
  
    display: block;
    margin-left: 30%;
    float: left;
    padding: 5px;
    width: 150px;
    color:black;
 
} 

.theInputs
  
{
   
    display: block;
    margin-left: 5%;
    float:left;
    padding: 5px;
    border-radius: 10px;
    border:1px solid black;
}

#Email, #Password, #userType
{

    font-size: 2em;
}

 .createBtn{

    width:auto;
    height:fit-content;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;

 }

 @media only screen and (max-width:1000px) {
    .navbar-nav {
      display:none;
    }
  }