<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Static/Css/adminStyle.css">

    <title>Admin page</title>

    <!-- Bootstrap CSS -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </link>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
</head>

<body>
    <nav class="navbar navbar-expand-lg navBgColor  navbar-light bg-dark" style="position: fixed; z-index: 300; width: 100vw;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size:30px; color:white; text-decoration: underline;">Resolve-It</a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" >
                        <a class="  nav-list-items nav-link" style="color:white;" aria-current="page" href="issue.html">Issue </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-list-items nav-link" style="color:white;" href="New-Issue.html">New-issue</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle  nav-list-items  nav-link" style="color:white;" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Department
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="#">Hardware</a></li>
                            <li><a class="dropdown-item" href="#">HR</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">.......</a></li>
                        </ul>
                    </li>
                </ul>



            <div class=" dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Logged in as:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">SignOut</a>
                    </li>
                </ul>
            </div>




            </div>

            <!-- <div class=" dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Logged in as:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">SignOut</a>
                    </li>
                </ul>
            </div> -->



        </div>
    </nav>
    <div>

        <div class="float-container ">

            <h2 class="text-center" Style="color:white;">Admin Portal</h2>

            <div class="text-center container inner-container d-flex flex-column">
                <h6 class="main-text-Info">Create an Account</h6> <br>
                <div class="d-flex flex-column flex-md-row my-1">
                    <label for="userid" class="theLabels" id="Userid">UserId</label>
                    <input type="text"  id="userIdInp"  name="Userid" class="theInputs"> <br><br>
                </div>

                <div class="d-flex flex-column flex-md-row my-1">
                    <label for="fname"  id="fname"  class="theLabels">First name</label>
                    <input type="text" id="userFnameInp" name="fname" class="theInputs"><br><br>
                </div>

                <div class="d-flex flex-column flex-md-row my-1" >
                    <label for="lname" id="Lname" class="theLabels">Last name</label>
                    <input type="text"  id="userLnameInp"  name="lname" class="theInputs"><br><br>
                </div>
                
                <div class="d-flex flex-column flex-md-row my-1">
                    <label for="Email" id="Email" class="theLabels">Email</label>
                    <input type="email" id="userEmailInp" name="Email" class="theInputs"><br><br>
                </div>

                <div >
                    <label for="type" id="userType" class="selectUserType" style="color:black;">Type</label>
                    <select name="Select_Type"  >
                        <option>Select--</option>
                        <option value="option1">User</option>
                        <option value="option2">Admin</option>
                    </select><br><br>
                </div>
            
                <div>
                <button type="submit" class="createBtn mb-2" >Create</button>
                </div>

                
                <a class="small text-muted" href="#!">Forgot password?</a><br>
                <p class="mb-5 pb-lg-2" style="color: #1b1c27;">Have already an account? <a href="userLogin.html"
                        style="color: #616163;">Login here</a></p>
            </div>
        </div>
</body>


</html>