<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Static/Css/issueStyle.css">

    <title>New Issue </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navBgColor" id="navbar">
        <div class="container-fluid">

            <h3 class="navbar-brand" href="#" style="font-size: x-large; text-decoration: underline;">Support Ticket
                System</h3>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-list-items" href="#">Issue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-list-items" href="#">New Issue</a>
                    </li>


                    <!-- dropdown link -->
                    <div class="dropdown collapse navbar-collapse ">
                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">Department</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Hardware</a></li>
                            <li><a class="dropdown-item" href="#">HR</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div id="adminText">
                <h3>Admin Portal</h3>
            </div>
        </div>
    </nav>

    <!-- div Container -->


    <div class="float-container ">

        <header class="header">Issues</header>
        <div class="inner-container">

            <div class="inner-container-fields">

                <table>
                    <tr>
                      <th class="tableHeading">Id</th>
                      <th class="tableHeading">Status</th>
                      <th class="tableHeading">Priority</th>
                      <th class="tableHeading">Subject</th>
                      <th class="tableHeading">Assignee</th>
                      <th class="tableHeading">Issue-created-Date</th>
                    </tr>
                    <tr>
                      <!-- <td>January</td>
                      <td>$100</td> -->
                    </tr>
                  </table>


            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>

</html>